// variables
$active-color: #e01a1a;
$hover-link-color: gray;
$background-color-footer: #fc7575;


// shared classes
.flex-center  {
  display: flex;
  align-items: center;
  justify-content: center;
}


// mixins




// functions