// variables
$active-color: #e01a1a;
$hover-link-color: gray;
$background-color-footer: #ffb1b1;
$tablet-width: 48rem;
$monitor-width: 62rem;


// shared classes
.flex-center  {
  display: flex;
  align-items: center;
  justify-content: center;
}


// mixins




// functions