// variables
$main-color: #e01a1a;
$orangish-color: #df2020;
$hover-color: #212245;
$hover-link-color: gray;
$background-color-footer: #ffb1b1;
$tablet-width: 48rem;
$monitor-width: 62rem;
$monitor-width-large: 80rem;
$mobile-slide-width: 15rem;

// shared classes
.flex-center  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_link{
  background-color: $main-color;
  color: #fff;
  padding: .5rem 1rem;
  border: none;
  border-radius: .3rem;
  outline: none;
}

.button_link:hover {
  background-color: $hover-color;
  cursor: pointer;
}


// mixins




// functions