@import 'shared';

.food__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.food-image-info__container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.food-images__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 90%;
    object-fit: contain;
    padding: .3rem;
  }
}


.food-thumbnails__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border: 3px solid green;
  img {
    width: 30%;
    object-fit: contain;
    // border: 1px solid #ccc;
    border-radius: .3rem;
    padding: .3rem;
  }
}

.food-info__container {
  text-align: left;
  align-self: flex-start;
  h5 {
    color: $orangish-color;
    // margin: .3rem 0;
  }
  button {
    margin: .5rem 0;
  }
}

.food-extra-info__container {
  width: 90%;
}

.food-same-catogory__container {
  width: 90%;
  margin: 1rem 0;
}





@media (min-width: $tablet-width) {

  .product-carts__container{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .food-images__container {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-around;
  
    img {
      width: 60%;
      object-fit: contain;
      padding: .3rem;
    }
  }
  .food-thumbnails__container {
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      height: 30%;
      border: none;
    }
  }

  .food-extra-info__container {
    margin: 1rem 0;
  }
}





@media (min-width: $monitor-width) {

  .food-image-info__container {
    width: 70%;
    flex-direction: row;
  }

  .product-carts__container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .food-images__container {
    width: 70%;
  }

  .food-info__container {
    // text-align: center;
    align-self: center;
  }

  .food-extra-info__container {
    width: 70%;
  }

}
