@import 'shared.scss';

.footer__container {
  width: 100%;
  height: 20%;
  max-height: 350px;
  min-height: 150px;
  // background-color: $background-color-main;
  background-color:#df2020;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}

