@import 'shared.scss';

.header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  // border: 1px solid blue;
}

.header__logo {
  height: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  img {
    height: 90%;
    object-fit: contain;
  }
  h5 {
    font-weight: 600;
    font-size: 1rem;
    margin-left: 5px;
  }
  &:hover {
    cursor: pointer;
    color: $hover-link-color;
  }
}

.header__navigation {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 99;
}

.show__menu {
  display: none;
}

.header__navigation-menu {
  width: 15rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  top: 0;
  left: 0;
  background-color: #fff;
  position: fixed;
  z-index: 100;

  a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .active__menu {
    color: $main-color;
    border-bottom: 2px solid $main-color;
  }

}

.header__right {
  display: flex;
  align-items: center;
  gap: 1rem;
  .cart__icon {
    position: relative;
    &:hover {
      cursor: pointer;
      color: $hover-link-color;
    }
    .cart__badge {
      width: 1.3rem;
      height: 1.3rem;
      @extend .flex-center;
      position: absolute;
      top: -10px;
      left: 10px;
      background-color: rgb(19, 182, 19);
      color: white;
      font-size: .8rem;
      border-radius: 3px;
    }
  }
  .user{
    &:hover {
      cursor: pointer;
      color: $hover-link-color;
    }
  }
  .mobile__menu {
    cursor: pointer;
  }
}

@media (min-width: 48rem) {

  .header__navigation {
    position: static;
    width: auto;
    height: inherit;
    display: inline-block;
  }

  .header__navigation-menu {
    position: static;
    width: auto;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0;
    a {
      text-decoration: none;
    }
    a:hover {
      color: $main-color;
    }
  }

  .header__right {
    .mobile__menu {
      display: none;
    }
  }

}