@import '../styles/shared.scss';

.home__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.home__description-container {
  display: inline-block;
  h2,h3,h5,p {
    text-align: center;
  }
  h2,h3 {
    span {
      color: $orangish-color;
    }
  }
}

.order__link-container {
  display: flex;
  gap: 3rem;
  margin: 1rem 0;
  a {
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: .3rem;
    transition: .3s;
  }
  .order__link-order {
    background-color: $main-color;
    color: #fff;
    // transition: 0.3s;
  }
  .order__link-order:hover {
    background-color: $hover-color;
  }
  .order__link-foods {
    border: 1px solid $main-color;
    color: $main-color;
  }
  .order__link-foods:hover {
    background-color: $hover-color;
    color: white;
    border-color: $hover-color;
  }

}

.delivery__info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  p {
    font-size: .9rem;
    font-weight: 600;
  }
}

.delivery__image-container {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  // max-height: 10rem;

  img {
    height: 100%;
    object-fit: contain;
  }
  
}

.home__message-to-customers {
  margin: 2rem 0;
  h2,h5,p {
    text-align: center;
    strong {
      color: $orangish-color;
    }
  }
}

.home__features-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  .feature-container {
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    img {
      height: 40%;
      object-fit: contain;
    }
    p {
      text-align: center;
    }
  }
}

.home__popular-foods-container {
  max-width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  h2 {
    text-align: center;
    margin: .5rem 0;
  }
  
  .home__popular-foods-btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: $main-color;
    border-radius: .3rem;
    padding: .5rem .3rem;
    .food__button-active {
      background-color: #fff;
      border-radius: .3rem;
      color: $orangish-color;
      font-weight: 600;
    }

    button {
      display: flex;
      align-items: center;
      gap: .3rem;
      border: none;
      outline: none;
      padding: .5rem 1rem;
      background-color: transparent;
      color: #fff;

      img {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }

  .home__popular-items-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: .5rem;
    justify-items: center;
    gap: .7rem;
  }
}

.location__container {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    height: 30vh;
    object-fit: contain;
    // border: 1px solid black;
  }

  h2 {
    text-align: center;
    span {
      color: $main-color;
    }
  }
  p {
    text-align: center;
  }

  .location__options-container {
    
    .location__option {
      padding: .5rem;
      h4 {
        text-align: center;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  
}