@import '../styles/shared.scss';

.home__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  // border: 1px solid green;
}

.home__introduction-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 1px solid red;
}

.home__introduction-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__description-container {
  
  // border: 1px solid green;
  h2,h3,h5,p {
    text-align: center;
  }
  h2,h3 {
    span {
      color: $orangish-color;
    }
  }
}

.order__link-container {
  display: flex;
  gap: 3rem;
  margin: 1rem 0;
  a {
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: .3rem;
    transition: .3s;
  }
  
  .order__link-foods {
    border: 1px solid $main-color;
    color: $main-color;
  }
  .order__link-foods:hover {
    background-color: $hover-color;
    color: white;
    border-color: $hover-color;
  }

}

.delivery__info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // border: 1px solid red;
  gap: 3rem;
  p {
    font-size: .9rem;
    font-weight: 600;
  }
}

.delivery__image-container {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  // max-height: 10rem;
  // border: 1px dashed blue;

  img {
    height: 100%;
    object-fit: contain;
  }
  
}

.home__message-to-customers {
  width: 90%;
  margin: 2rem 0;
  h2,h5,p {
    text-align: center;
    strong {
      color: $orangish-color;
    }
  }
}

.home__features-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  .feature-container {
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    img {
      height: 40%;
      object-fit: contain;
    }
    p {
      text-align: center;
    }
  }
}

.home__popular-foods-container {
  max-width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  h2 {
    text-align: center;
    margin: .5rem 0;
  }
  
  .home__popular-foods-btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: $main-color;
    border-radius: .3rem;
    padding: .5rem .3rem;
    .food__button-active {
      background-color: #fff;
      border-radius: .3rem;
      color: $orangish-color;
      font-weight: 600;
    }

    button {
      display: flex;
      align-items: center;
      gap: .3rem;
      border: none;
      outline: none;
      padding: .5rem 1rem;
      background-color: transparent;
      color: #fff;

      img {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }

  .home__popular-items-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    justify-items: center;
    gap: 1rem;
  }
}

.location__container {
  width: 90%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    height: 30vh;
    object-fit: contain;
  }

  h2 {
    text-align: center;
    span {
      color: $main-color;
    }
  }
  p {
    text-align: center;
  }

  .location__options-container {
    
    .location__option {
      padding: .5rem;
      h4 {
        text-align: center;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .home__introduction-section {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid black;
    margin-bottom: 2rem;
  }

  .home__introduction-right {
    align-items: flex-start;
    justify-content: space-evenly;
    min-height: 30vh;
  }

  .home__description-container {
    h2,h3,h5,p {
      text-align: start;
    }
  }

  .delivery__image-container {
    height: 40vh;
  }

  .home__message-to-customers {
    width: 80%;
  }

  .home__features-container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    margin: 1rem 0;
    .feature-container {
      // height: 15rem;
      img {
        height: 70%;
        object-fit: contain;
      }
    }
  }





  .home__popular-foods-container {
    width: 80%;
    .home__popular-foods-btn-container {
      justify-content: space-around;
    }
    .home__popular-items-container {
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }



  .location__container {
    width: 80%;
    flex-direction: row;
    align-items: center;
    margin: 1rem;

    img {
      height: 45vh;
      object-fit: contain;
    }

    h2 {
      text-align: start;
      span {
        color: $main-color;
      }
    }
    p {
      text-align: start;
    }

    .location__options-container {
    
      .location__option {
        padding: 0;
        h4 {
          text-align: start;
          padding-top: .3rem;
        }
        p {
          padding: 0 0 .3rem 0;
        }
      }
    }
  }

}


@media (min-width: $monitor-width) {
  .home__introduction-section {
    width: 60%;
  }

  .home__message-to-customers {
    width: 60%;
  }

  .home__features-container {
    width: 60%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    margin: 1rem 0;
    .feature-container {
      img {
        height: 50%;
        object-fit: contain;
      }
    }
  }

  .home__popular-foods-container {
    width: 60%;
    .home__popular-foods-btn-container {
      // justify-content: space-around;
    }
    .home__popular-items-container {
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .location__container {
    width: 60%;
  }
  
}


@media (min-width: $monitor-width-large) {
  .home__popular-foods-container {
  .home__popular-items-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
}