@import 'shared';

.shopping-menu__container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 999;
}

.shopping-menu__main {
  position: absolute;
  width: $mobile-slide-width;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  background-color: #fff;
}

.shopping-menu__close {
  margin-top: .5rem;
  button {
    padding: .3rem .5rem;
  }
}
.shopping-menu__carts {
  width: 90%;
  flex-grow: 1;
  margin: 10px auto;
  h3 {
    text-align: center;
  }
}

.shopping-menu__total {
  width: 100%;
  min-height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $main-color;
  p {
    color: #fff;
  }
  button {
    padding: .3rem .5rem;
  }
}